<table class="standard" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= genre.name %></td>
        <td><%= link_to 'Show', genre %></td>
<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
        <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
        <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>