
<h1 class="page-title" >Genres</h1>

<%= render('table', genres: @genres, paginate: true) %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @genres.each do |genre| %>
      <tr>
        <td><%# genre.name %></td>
        <td><%# link_to 'Show', genre %></td>
        <td><%# link_to 'Edit', edit_genre_path(genre) %></td>
        <td><%# link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>

<% if user_signed_in? %>
  <% if current_user.is?("Admin") %>
    <div class="indent">
      <%= link_to 'New Genre', new_genre_path %>
    </div>
  <% end %>
<% end %>