
<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<div class="indent">
	<% if user_signed_in? %>
	  <% if current_user.is?("Manager") %>
			<%= link_to 'Edit', edit_genre_path(@genre) %> |
		<% end %>
	<% end %>
	<%= link_to 'Back', genres_path %>
</div>