<table class="standard" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= crew.name %></td>
        <td><%= link_to 'Show', crew %></td>
<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
        <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
        <td><%= link_to 'Destroy', crew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>