
<h1 class="page-title" >Crews</h1>

<%= render('table', crews: @crews, paginate: true) %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @crews.each do |crew| %>
      <tr>
        <td><%# crew.name %></td>
        <td><%# link_to 'Show', crew %></td>
        <td><%# link_to 'Edit', edit_crew_path(crew) %></td>
        <td><%# link_to 'Destroy', crew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>

<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
    <div class="indent">
      <%= link_to 'New Crew', new_crew_path %>
    </div>
  <% end %>
<% end %>