
<p>
  <strong>Name:</strong>
  <%= @crew.name %>
</p>

<div class="indent">
	<% if user_signed_in? %>
	  <% if current_user.is?("Manager") %>
			<%= link_to 'Edit', edit_crew_path(@crew) %> |
		<% end %>
	<% end %>
	<%= link_to 'Back', crews_path %>
</div>