<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :release %>
    <%= f.number_field :release %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div>

  <div class="field">
    <%= f.label :genre_ids %>
    <%= f.select :genre_ids, Genre.all.map{ |g| [g.name, g.id] }, {}, { multiple: :multiple, include_hidden: false } %>
  </div>

  <div class="field">
    <%= f.label :tag_ids %>
    <%= f.select :tag_ids, Tag.all.map{ |t| [t.name, t.id] }, {}, { multiple: :multiple, include_hidden: false } %>
  </div>

  <div class="field">
    <%= f.label :crew_ids %>
    <%= f.select :crew_ids, Crew.all.map{ |c| [c.name, c.id] }, {}, { multiple: :multiple, include_hidden: false } %>
    <%# f.select :crew.crew_roles.role_ids, Roles.all.map{ |r| [r.name, r.id]}, {}, { multiple: :multiple, include_hidden: false } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
