<table class="standard" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Release</th>
      <th>Language</th>
      <th>Duration</th>
      <th>Genres</th>
      <th>Tags</th>
      <th>Ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= movie.title %></td>
        <td><%= movie.summary %></td>
        <td><%= movie.release %></td>
        <td><%= movie.language %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.genres.collect(&:name).join(" & ") %></td>
        <td><%= movie.tags.collect(&:name).join(" & ") %></td>
        <td>
          <% if movie.ratings.size() == 0 %>
          Not Rated
          <% else %>
            <% total = movie.ratings.collect(&:rating).inject(0){|sum,x| (sum + x) } %>
            <%= (total/movie.ratings.size()) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', movie %></td>
<% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
  <% if current_user.is?("Admin") %>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>