<h1 class="page-title" >Editing Movie</h1>

<div class="indent">

	<% if current_user.is?("Manager") %>
		<%= render 'form', movie: @movie %>
	<% else %>

		<%= form_for(@movie) do |f| %>
		  <% if @movie.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

		      <ul>
		      <% @movie.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

			<div class="field">
		    <%= f.label :tag_ids %>
		    <%= f.select :tag_ids, Tag.all.map{ |t| [t.name, t.id] }, {}, { multiple: :multiple, include_hidden: false } %>
		  </div>
		   <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	<% end %>

	<div class="field">
		Or Make your Own Tag!
	</div>
	<%= button_to 'Make a Tag', new_tag_path, method: :get %>
	<br>
	<br>

	<%= link_to 'Show', @movie %> |
	<%= link_to 'Back', movies_path %>
</div>
