
<h1 class="page-title" >Movies</h1>



<%= render('table', movies: @movies, paginate: true) %>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Release</th>
      <th>Language</th>
      <th>Duration</th>
      <th>Image</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @movies.each do |movie| %>
      <tr>
        <td><%# movie.title %></td>
        <td><%# movie.summary %></td>
        <td><%# movie.release %></td>
        <td><%# movie.language %></td>
        <td><%# movie.duration %></td>
        <td><%# movie.image %></td>
        <td><%# movie.video %></td>
        <td><%# link_to 'Show', movie %></td>
        <td><%# link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%# link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>


<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
    <div class="indent">
      <%= link_to 'New Movie', new_movie_path %>
    </div>
  <% end %>
<% end %>