<h1 class="page-title" ><%= @movie.title %></h1>

<div class="indent">

  <div class="col-2">

    <div class="col-div left div" >

    <center>

      <img src="<%= @movie.image %>" style="height: 40vh; width: 50vh;" >

      <% phrase = @movie.video[32..-1] %>

      <iframe 
        width="500vw" 
        height="400vh" 
        src="https://www.youtube.com/embed/<%= phrase %>" 
        frameborder="0" 
        allowfullscreen>  
      </iframe>

    </center>

    </div>

    <div class="col-div right-div">

      <div class="indent">

        

        <p class="details" >
          <strong>Genre(s):</strong><br><br>
          <%= @movie.genres.collect(&:name).join(" & ") %>
        </p>

        <%# This is where the RATING will go %>

        <p class="details" >
          <strong>Summary:</strong><br><br>
          <%= @movie.summary %>
        </p>

        <p class="details" >
          <strong>Release:</strong><br><br>
          <%= @movie.release %>
        </p>

        <p class="details" >
          <strong>Language:</strong><br><br>
          <%= @movie.language %>
        </p>

        <p class="details" >
          <strong>Duration:</strong><br><br>
          <%= @movie.duration %>
        </p>

        <p class="details" >
          <strong>Tags:</strong><br><br>
          <%= @movie.tags.collect(&:name).join(" & ") %>
        </p>

        <p class="details">
          <strong>Rating:</strong><br><br>
          <% if @movie.ratings.size() == 0 %>
          Not Rated
          <% else %>
            <% total = @movie.ratings.collect(&:rating).inject(0){|sum,x| (sum + x) } %>
            <%= (total/@movie.ratings.size()) %>
          <% end %>
        </p>

        <p class="details" >
          <strong>Crew Members:</strong><br><br>
          <%= @movie.crews.collect(&:name).join(" & ") %>
        </p>

      </div>

    </div>

  </div>

<table class="standard" >
  <thead>
    <tr>
      <th>Review</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie.ratings.each do |rating| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= rating.review %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <br>
  <br>

<div class="indent">
  <% if user_signed_in? %>
    <% if current_user.is?("Manager") %>
      <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <% end %>
  <% end %>
  <%= link_to 'Back', movies_path %>
</div>