<h2 class="page-title" >Edit User</h2>

<%= form_for(@user) do |f| %>
  <%# devise_error_messages! %>

  <div class="indent">

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %><br><br>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %><br><br>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field"><br>
      <%= f.label :fname, "First Name" %><br>
      <%= f.text_field :fname %>
      <br>
    </div>

      <div class="field"><br>
      <%= f.label :mname, "Middle Name" %><br>
      <%= f.text_field :mname %>
      <br>
    </div>

    <div class="field"><br>
      <%= f.label :lname, "Last Name" %><br>
      <%= f.text_field :lname %>
      <br>
    </div>

    <div class="field"><br>
      <%= f.label :dob, "Date of Birth" %><br>
      <%= f.text_field :dob %>
      <br>
    </div>

    <div class="field"><br>
      <%= f.label :gender, "Gender" %><br>
      <%= f.select :gender, ["Male", "Female", "Other"] %>
      <br>
    </div>

    <br>

    <%= f.label :permissions %>

<% if @user.is?("Admin") %>
    <div class="field">
      <br>
      This User is an Admin
      <br>
   </div>
<% elsif @user.is?("Manager") %>
    <div class="field">
      <br>
      This User is a Manager
      <br> 
    </div>
<% else %>
    <div class="field">
      <br>
      This User is a Registered User
      <br> 
    </div>
<% end %>

<br>

<% if current_user.is?("Admin") %>
  <div class="field">
    <br>
    Set Permission Level
    <br> 
  </div>
  <%= f.fields_for(:permissions) do |p_form| %>
    <% User::PERMISSIONS.each do |perm| %>
      <div class="field indent" >
        <%= p_form.check_box(perm, { checked: @user.permissions[perm] == true}, true, false) %>
        <%= p_form.label(perm, "#{perm.upcase}?") %>
        <br>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <br>
    Reset Permission Level
    <br> 
  </div>
  <%= f.fields_for(:permissions) do |p_form| %>
    <% User::PERMISSIONS.each do |perm| %>
      <div class="field indent" >
        <%= p_form.check_box(perm, { checked: @user.permissions[perm] == false}, false, false) %>
        <%= p_form.label(perm, "#{perm.upcase}?") %>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>

    <br>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <br>

  <%= link_to "Back", :back %>
  </div>