<h1 class="page-title">Administration</h1>

<table class="standard" >
  <thead>
    <tr>
      <th>User ID#</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Permissions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= user.id %></td>
        <td><%= user.fname %></td>
        <td><%= user.mname %></td>
        <td><%= user.lname %></td>
        <td><%= user.permissions %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>