<table class="standard" >
  <thead>
    <tr>
      <th>User</th>
      <th>Movie</th>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= rating.users.collect(&:fname).join("") %></td>
        <td><%= rating.movies.collect(&:title).join("") %></td>
        <td><%= rating.rating %></td>
        <td><%= rating.review %></td>
        <td><%= link_to 'Show', rating %></td>
<% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>