
<h1 class="page-title" >Ratings</h1>

<%= render('table', ratings: @ratings, paginate: true) %>


<!-- <table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @ratings.each do |rating| %>
      <tr>
        <td><%# rating.rating %></td>
        <td><%# rating.review %></td>
        <td><%# link_to 'Show', rating %></td>
        <td><%# link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%# link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>

<% if user_signed_in? %>
  <div class="indent">
    <%= link_to 'New Rating', new_rating_path %>
  </div>
<% end %>