
<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<div class="indent">
	<%= link_to 'Edit', edit_rating_path(@rating) %> |
	<%= link_to 'Back', ratings_path %>
</div>	