<h2 class="page-title">Final Deliverables</h2>

<div class="indent">
	<b><u>Here are the Final Deliverables due on April 21st:</u></b>
	<br>
	<br>
	<b>NOTE: We have to demo/present our Web Interface between April 17th to April 21st</b>
	<br>
	<br>
	<em><b>NOTE:</b></em> Items with a &#10004; have been completed. 
	<br>
	<br>
	For each team, please submit a compressed file containing the following: 
	<br>
	<ol>
		<li>A PDF report named “final-report.pdf” including:</li>
		<br>
		<ol>
			<li>Finalized database design and assumptions, ER diagram, and database schemawith sound design principle applied (the minimal requirements need to be met).</li><br>
			<li>The functionalities supported by your web application and screenshots illustrating the corresponding functionalities (the minimal requirements need to be met). </li><br>
			<li>Testing. Explain how you tested the functionalities of your application (e.g., how each functionality is tested, how the correctness of the query results is tested, etc.). </li><br>
			<li>Team member contribution. Clearly describe the contributions of each team member to the project. </li><br>
			<li>Experience and Challenges. Describe your experience and challenges you had during the project design and development process. </li><br>
		</ol>
		<li>A MySQL dump file named “movie-db.sql”, containing:</li><br>
		<ol>
			<li>CREATE TABLE statements (DDL) for each table. </li><br>
			<li>INSERT statements (DML) with at least 30 sample rows inserted for each table.I will use this in MySQL to create all your tables and load sample rows to perform my tests for grading.</li><br>
		</ol>
		<li>A folder named “web-app” containing all source code to make your web application run. The web application needs to properly work with the above MySQL databasedump “movie-sb.sql”. Source code should include proper documentation. A README file is at least required to specify how to run your application.</li>
	</ol>
	<br>
	<b><u>Our Final Deliverables So Far:</u></b>
	<br>
	<br>

	<ol>
		<li>A PDF report named “final-report.pdf” including:</li>
		<br>
		<ol>
			<li>Finalized database design and assumptions, ER diagram, and database schemawith sound design principle applied (the minimal requirements need to be met).</li><br>
			<li>The functionalities supported by your web application and screenshots illustrating the corresponding functionalities (the minimal requirements need to be met). </li><br>
			<li>Testing. Explain how you tested the functionalities of your application (e.g., how each functionality is tested, how the correctness of the query results is tested, etc.). </li><br>
			<li>Team member contribution. Clearly describe the contributions of each team member to the project. </li><br>
			<li>Experience and Challenges. Describe your experience and challenges you had during the project design and development process. </li><br>
		</ol>
		<li>A MySQL dump file named “movie-db.sql”, containing:</li><br>
		<ol>
			<li>CREATE TABLE statements (DDL) for each table. </li><br>
			<li>INSERT statements (DML) with at least 30 sample rows inserted for each table.I will use this in MySQL to create all your tables and load sample rows to perform my tests for grading.</li><br>
		</ol>
		<li>A folder named “web-app” containing all source code to make your web application run. The web application needs to properly work with the above MySQL databasedump “movie-sb.sql”. Source code should include proper documentation. A README file is at least required to specify how to run your application.</li>
	</ol>

</div>