<h2 class="page-title">MovieBase Status</h2>

<div class="indent">

	<b><u/>4/14/17 UPDATE:</u></b>
	<ul>
		<li>All Table Pages have been standardized</li>
	</ul>

	<b><u/>4/12/17 UPDATE:</u></b>
	<ul>
		<li>All Tables have been Re-Generated, and new links have been added.</li>
		<li>The Schemas page has been updated.</li>
	</ul>

	<b><u>3/22/17 UPDATE:</u></b>
	<ul>
		<li>All Tables have been Generated, and new links have been added.</li>
	</ul>

	<b><u>3/15/17 UPDATE:</u></b>
	<ul>
		<li>A <em><b>Mid-Semester Deliverables Page</b></em> has been added. That page lists all required Mid-Semester Deliverables and will be used to check off our required items. Below the requirements list is our compiled deliverables so far.</li><br>
		<li>A <em><b>Final Deliverables Page</b></em> has been set up with the exact same setup.</li><br>
		<li>Added a Note about Users under the <em><b>Schema Page</b></em></li>
	</ul>

	<br>

	<b><u>3/14/17 UPDATE:</u></b> 
	<ul>
		<li>Database Table Schemas have been added under the <em><b>Schemas Page</b></em> above. </li>
	</ul>

	<br>

	<b><u>INITIAL UPDATE:</u></b>
	<ul>
		<li>This is the main Home page located in app/views/page/home.html.erb</li><br>
		<li>The Page controller has been generated allowing us to make static pages. </li>
	</ul>

</div>