<h2 class="page-title">Mid-Semester Deliverables</h2>

<div class="indent">

	<br/>
	<center>
	<b><u><strong><big>WE GOT A 90 / 100 ON MIDSEMESTER DELIVERABLES</big></strong></u></b>
	</center>

	<br/>
	<br/>

	<b><u>Here are the Mid-Semester Deliverables due on March 20th:</u></b>
	<br/>
	<em><b>NOTE:</b></em> Items with a &#10004; have been completed.
	<br/>
	For each team, please submit a compressed file containing the following: 
	<br/>
	<ol>
		<li>A PDF report named “mid-report.pdf” including:</li>
		<br/>
		<ol>
			<li>&#10004; Team members and each member’s responsibility (up to 4 members per team).</li><br/>
			<li>&#10004;Describe your database design and assumptions (these should meet the minimum requirements specified previously). Develop a corresponding ER diagram for your database, including entities, attributes, relationships, andstructural constraints.</li><br/>
		 <li>&#10004; Design database schema (e.g., MySQL table names, column names, data types). All primary key and foreign keys should be logically chosen. </li><br/>
		</ol>
		<li>&#10004;A MySQL dump file named “movie-db.sql”, containing:</li><br/>
		<ol>
			<li>&#10004;CREATE TABLE statements (DDL) for each table. Use AUTO_INCREMENT integers for primary keys, which could be used as foreign keys in other tables.Foreign key constraints (or referential constraints) should be specified.</li><br/>
			<li>&#10004;INSERT statements (DML) with at least 10 sample rows inserted for each table.</li><br/>
		</ol>
	</ol>
	<br/>
	<b><u>Our Deliverables So Far:</u></b>
	<br/>
	<ol>
		<li>&#10004;We will generate our pdf report from the info below:</li>
		<br/>
		<ol>
			<li>&#10004; Sam Caplan - Testing and Functionality Compliance, Matt Jackson - Database Designer, Mitch Mullins - Web Interface Developer (NOTE: We can come up with better responsibilities names. I just made these up)</li><br/>
			<li>&#10004;Describe your database design and assumptions (these should meet the minimum requirements specified previously). Develop a corresponding ER diagram for your database, including entities, attributes, relationships, andstructural constraints.</li><br/>
		 <li>&#10004; If we are good with the schemas laid out on the schemas page, then we can copy and paste them into what will be our pdf.</li><br/>
		</ol>
		<li>&#10004;A MySQL dump file named “movie-db.sql”, containing:</li><br/>
		<ol>
			<li>&#10004;CREATE TABLE statements (DDL) for each table. Use AUTO_INCREMENT integers for primary keys, which could be used as foreign keys in other tables.Foreign key constraints (or referential constraints) should be specified.</li><br/>
			<li>&#10004;INSERT statements (DML) with at least 10 sample rows inserted for each table.</li><br/>
		</ol>
	</ol>

</div>