<h2 class="page-title">Schemas</h2>

<div class="indent">

In the Main V2_MOVIEBASE Database would be the following tables:

<br>
<br>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="8" >
		Movies
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Movie ID
		</td>
		<td>
			Title
		</td>
		<td>
			Summary
		</td>
		<td>
			Release
		</td>
		<td>
			Language
		</td>
		<td>
			Duration
		</td>
		<td>
			Image
		</td>
		<td>
			Video
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			String
		</td>
		<td>
			Text
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
	</tr>
</table>

<br/>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="2">
			Movie Genres
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Movie ID
		</td>
		<td>
			Genre ID
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			Integer
		</td>
	</tr>
</table>

<br/>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="2">
			Genres
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Genre ID
		</td>
		<td>
			Genre
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			String
		</td>
	</tr>
</table>

<br>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="4">
			Reviews
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Movie ID
		</td>
		<td>
			User ID
		</td>
		<td>
			Ratings
		</td>
		<td>
			Reviews
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			Integer
		</td>
		<td>
			Integer (Out of 5 Stars)
		</td>
		<td>
			Text
		</td>
	</tr>
</table>

<br/>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="2">
			Tags
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Tag ID
		</td>
		<td>
			Tag
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			String
		</td>
	</tr>
</table>

<br/>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="2">
			Movie Tags
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Movie ID
		</td>
		<td>
			Tag ID
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			Integer
		</td>
	</tr>
</table>

<br>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="8">
			Movie Crew
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Movie ID
		</td>
		<td>
			Producer
		</td>
		<td>
			Director
		</td>
		<td>
			Sound Effects/Score Composer
		</td>
		<td>
			Lighting
		</td>
		<td>
			Screenwriters
		</td>
		<td>
			Actors
		</td>
		<td>
			Editors
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
	</tr>
</table>

<br/>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="2">
			People
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			Person ID
		</td>
		<td>
			Name
		</td>
	</tr>
	<tr>
		<td>
			Integer
		</td>
		<td>
			String
		</td>
	</tr>
</table>

<br>

<table style="border-collapse: collapse; border: 1px solid black; text-align: center;">
	<tr style="background: black; color: white;">
		<td colspan="7">
			Users
		</td>
	</tr>
	<tr style="background: white; color: black;">
		<td>
			First Name
		</td>
		<td>
			Middle Name (optional)
		</td>
		<td>
			Last Name
		</td>
		<td>
			Date of Birth
		</td>
		<td>
			Gender
		</td>
		<td>
			Permissions
		</td>
		<td>
			Watchlist
		</td>
	</tr>
	<tr>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			String
		</td>
		<td>
			Text
		</td>
		<td>
			Text
		</td>
	</tr>
</table>

</div>