<table class="standard" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', tag %></td>
<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>