
<h1 class="page-title" >Tags</h1>

<%= render('table', tags: @tags, paginate: true) %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @tags.each do |tag| %>
      <tr>
        <td><%# tag.name %></td>
        <td><%# link_to 'Show', tag %></td>
        <td><%# link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%# link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>

<div class="indent">
  <%= link_to 'New Tag', new_tag_path %>
</div>