
<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<div class="indent">
	<% if user_signed_in? %>
  	<% if current_user.is?("Manager") %>
			<%= link_to 'Edit', edit_tag_path(@tag) %> |
		<% end %>
	<% end %>
	<%= link_to 'Back', tags_path %>
</div>