<table class="standard" >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr class="<%= cycle('odd','even') %>" >
        <td><%= role.name %></td>
        <td><%= link_to 'Show', role %></td>
<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>