
<h1 class="page-title" >Roles</h1>

<%= render('table', roles: @roles, paginate: true) %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @roles.each do |role| %>
      <tr>
        <td><%# role.name %></td>
        <td><%# link_to 'Show', role %></td>
        <td><%# link_to 'Edit', edit_role_path(role) %></td>
        <td><%# link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

<br>

<% if user_signed_in? %>
  <% if current_user.is?("Manager") %>
    <div class="indent">
      <%= link_to 'New Role', new_role_path %>
    </div>
  <% end %>
<% end %>