/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;

  margin: 0px;
}

#header-bar {
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #000;
  width: 100%;
  height: 10%;
  min-height: 40px;
  color: #fff;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#main-block{
  background-color: #000;
  opacity: .75;
  width: 90%;
  min-width: 665px;
  max-width: 1000px;
  padding: 0px 0px 20px 0px;
  margin: 15vh auto;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
  > .ignore-padding {
    margin-left:  -2em;
    margin-right: -2em;
  }
  > iframe.ignore-padding {
    width: calc(100% + 4em);
  }
}
#main-block.full {
  width: 100%;
  margin-bottom: 0;
}

.site-title {
  background-color: #000;
  color: white;
  padding: 10px 10px 10px 0px;
  text-align: center;
}

.page-title {
  background-color: #008080;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.indent{
  padding: 0% 5% 0% 5%;
}

/*  MOUNTED SIDE NAV  */

#hamburger {
  display: none;
}
#hamburger-img {
  height: 4vh;
  position: fixed;
  left: 5px;
  top: 3.5%;
  content: url('menu-icon.png');
}
nav.menu {
  overflow-y: auto;
  padding: 0px 0px 0px;
  position: fixed;
  left: -400px;
  top: 10%;

  background: #505859;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0.95;
  z-index: 5;
  transition: left 0.5s;
  p {
    font-size: 18px;
  }
  ul {
    padding: 0% 10px;
  }
  li {
    list-style-type: none;
  }
}
#hamburger:checked ~ nav.menu {
  left: 0px;
  li {
    list-style-type: none;
  }
}

/*  end mounted side nav  */

/*  TWO COL CSS  */

.col-2 {
  width: 100%;
  display: inline-block;
  padding: 10px 0px 10px 0px;
//  border: 1px solid black;
}

.col-div {
  width: 49%;
//  border: 1px solid black;
  padding-top:5px;
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
}

.left-div  {
  float: left;
}

.right-div {
  float: right;
}

.clear {
  clear:both;
}

@media screen and (max-width: 1000px) {
  .col-2 {
    display: block;
  }
  .col-div {
    width: 100%;
    padding-top: 0px;
  }
  .right-div{
    float:right;
    padding-bottom:10px;
  }
}

.details {
  font-size: 2vh;
}


/*  END TWO COL CSS  */

/*    TABLE CSS    */
table.standard {
  width: 100%;
  border-collapse: collapse;
  border: solid white;
  th {
    background: #333;
    color: white;
  }
  th, td {
    border: none;
    padding: 3px;
  }
  tr.odd {
    background: #777;
  }
  th.nowrap, td.nowrap {
    white-space: nowrap;
  }
}

table.standard.no-border {
  th, td {
    border: none;
  }
}

th.big, td.big {
  font-size: 1.25em;
  text-align: center;
}

div.subdiv {
  background: #333;
  width: 80%;
  margin: 1em auto;
  padding: 1em;
}
/*    END TABLE CSS    */

.clear {
  clear: both;
}

/* ####    MOBILE SECTION    #### */

/*    MOBILE CSS, MUST BE LAST    */

@media screen and (max-width: 700px) {
  .mobile {
    display: none;
  }
  #hamburger-img {
    content: url('menu-small.png');
  }
  td.text-bottom-3 {
    vertical-align: bottom;
    padding: 0 0 3vh;
  }
  .flex-or-block { display: block; margin: 0px; }
  .flex-or-block > div { margin: 0px; }
  table.standard-table td, table.standard-table th {
    font-size: 1em;
    padding: 6px 0px;
  }
  #main-block{
    width: 95%;
    min-width: 0px;
    margin: 12vh auto;
  }
  nav.menu {
    left: -100%;
    width: 100%;
    box-sizing: border-box;
  }
  #login-logo {
    max-width: none;
  }
  iframe#home-slideshow {
    height: 72vw;
    min-height: 1px;
  }
  iframe.vimeo-video {
    max-width: inherit;
    height: 390px;
  }
}

/*    END MOBILE CSS    */

/*    LARGE SCREEN CSS    */
@media screen and (min-width: 1428px) {
  #main-block{
    max-width: none;
    width: 80%;
    margin-right: 5%;
  }
  nav.menu {
    left: 0px;
    max-width: 20%;
    box-sizing: border-box;
  }
  #hamburger-img {
    display: none;
  }
}
/*    END LARGE SCREEN CSS    */
