<!DOCTYPE html>
<html>
<head>
  <title><%= @title if @title %> | MoviBase</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<input type='checkbox' id='hamburger'>
<div id="header-bar">
  <label for='hamburger'> <%= image_tag 'menu-icon.png', id: 'hamburger-img' %>  </label>
  <table id="header-center">
  <tbody>
    <tr>
      <center>
        <h1 class="site-title" >MoviBase</h1>
      </center>
      </tr>
   </tbody>
   </table>
</div>

<nav class="menu" role="navigation">
  <% if user_signed_in? %>
    <p style="color: #fff;" >Logged in as

    <br/>

    <strong><%= current_user.fname %></strong>.</p>

    <div class="indent">
      <div class="col-2">
        <div class="col-div left div" >
          <%= button_to "Edit Account", edit_user_registration_path, method: :get %>
        </div>
        <div class="col-div right-div">
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>

      <center>
        <h1 class="page-title">Admin</h1>
      </center>

    <div class="indent">
      <ul>
        <% if current_user.is?("Admin") %>
        <li><%= link_to "Users", users_path %></li>
        <% end %>
        <li><%= link_to "Roles", roles_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Genres", genres_path %></li>
      </ul>
    </div>

  <% end %>

			<center>
			  <h1 class="page-title">MENU</h1>
			</center>

  <%if ! user_signed_in?%>

	  <div class="indent">
	    <div class="col-2">
	      <div class="col-div left div" >

	        <%= button_to "Sign Up", new_user_registration_path, method: :get %>

	      </div>
	      <div class="col-div right-div">
	          <%= button_to "Login", new_user_session_path %>

	      </div>
	    </div>
	  </div>

  <%end%>

	  <ul>
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "Movies", movies_path %></li>
	    <li><%= link_to "Reviews", ratings_path %></li>
	    <li><%= link_to "Crews", crews_path %></li>
	  </ul>

    <br>
    <br>
    <br>

</nav>

<div id="main-block">

	<br/>
  <p id="notice"><%= notice %></p>


	<%= yield %>

</div>

</body>
</html>
