<h2 class="page-title" >Sign up</h2>

<div class="indent">

  <%= form_for(@user) do |f| %>
    <%# devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :fname, "First Name" %><br />
      <%= f.text_field :fname %>
    </div>

      <div class="field">
      <%= f.label :mname, "Middle Name" %><br />
      <%= f.text_field :mname %>
    </div>

    <div class="field">
      <%= f.label :lname, "Last Name" %><br />
      <%= f.text_field :lname %>
    </div>

    <div class="field">
      <%= f.label :dob, "Date of Birth" %><br />
      <%= f.text_field :dob %>
    </div>

    <div class="field">
      <%= f.label :gender, "Gender" %><br />
      <%= f.select :gender, ["Male", "Female", "Other"] %>
    </div>

    <br>
    <br>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%# render "users/shared/links" %>
</div>